<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .active{
            border: 1px solid blue;
        }
        .text-danger{
            color: red;
        }
    </style>
</head>
<body>
    <!-- リアルDOM JSが紐付いているかわからない -->
    <a id="google_link">googleへのリンクです</a>

    <div id="app">
        <div v-show="isDisplay">trueです</div><!-- trueの時表示 -->
        <div v-show="!isDisplay">falseです</div><!-- falseの時表示 -->

        <div v-if="isDisplay">ifで表示</div><!-- trueの時表示 -->

        <div v-if="signal == 'red'">赤</div>
        <div v-else-if="signal == 'yellow'">黄</div>
        <div v-else-if="signal == 'blue'">青</div>
        <div v-else>赤、青、黄ではありません</div>
        <!-- 結果 青 -->

    </div>
    
    <script>
    let app = new Vue({ //Vueクラスのインスタンス化(実体) = new
        el: '#app', //仮想DOMの範囲
        data(){ //仮想DOMで表示する値(初期設定)
            return {
                isDisplay: true,
                signal: 'blue'
            }
        }
    })


    </script>
</body>
</html>